body {
    background: rgb(21, 153, 116);
    color: rgb(4, 79, 172);
    padding: 10px;
    font-family: italics;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(70, 255, 212);
   margin: 0 auto;
   margin-bottom: 20px;
   display: flex;
    padding: 10px;
   border-style:double;
   border:groove 1em rgb(255, 192, 248);
   border-radius: 2em;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(235, 49, 145);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #585050;
}

/* main container area beneath menu */
main {
    background: rgb(223, 205, 205);
    display: flex;
    border-style: dashed;
    border-width: 5px 5px;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
   border-style: solid; 
   border-width: 5px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 8px rgb(255, 100, 239) ridge;
    border-style: inset;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
         /* portfolio styles */
         .content h1 {
            color: rgb(163, 20, 20);
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #c52d2d;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #ca1515;
        }

        #portfolio a {
            text-decoration: none;
            color: #454545;
        }
                    /* responsive web design */
                    @media screen and (min-width: 120px) and (max-width: 1080px) {
                        main {
                          height: 100ch;
                          zoom: 1.5;
                          display: grid;
                        }
          
                        h1 {
                          font-size: 44px;
                        }
          
                        h2 {
                          font-size: 42px;
                        }
          
                        h3 {
                          font-size: 36px;
                        }
          
                        #all-contents {
                          height: 100ch;
                          margin: none;
                        }
          
                        a {
                          font-size: 42px;
                        }
          
                        .sidebar {
                          margin-right: 0px;
                          justify-content: center;
                          align-items: center;
                        }
          
                        .sidebar-img {
                          width: 100%;
                        }
          
                        p,
                        li {
                          font-size: 24px;
                        }
          
                        .content {
                          align-content: center;
                          justify-content: center;
                        }
                    }