body {
  margin: 0px;
}

canvas {
  background-image: url("https://lh3.googleusercontent.com/01cDIj0m5i7qWpBtIJevHJ8_aDEMW9LMlmsbJ91At3i3yb-6LNCwtPP34Y7BTZN0HrYaNZj7x4U9kHXJi2tCgp90PQ=w640-h400-e365-rj-sc0x00ffffff");
  background-color: rgb(43, 255, 15);
}

img {
  display: none;
  
} 
